{% load humanize %}
<h2 class="label font-bold mb-2">Achats par fournisseur</h2>

<div class="overflow-x-auto rounded-lg shadow">
    <table class="min-w-full divide-y divide-gray-200 label:divide-gray-700 card">
        <thead class="btn-main">
            <tr>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Fournisseur</th>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Montant total</th>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Nombre d’achats</th>
            </tr>
        </thead>

        <tbody class="label divide-y divide-gray-200 label:divide-gray-700">
            {% for f in fournisseurs %}
            <tr class="hover:label transition">
                <td class="px-4 py-3 label">{{ f.nom }} {{ f.prenom }}</td>
                <td class="px-4 py-3 label">
                    {{ f.total|floatformat:2|intcomma }} {{ magasin.devise }}
                </td>
                <td class="px-4 py-3 label">
                    {{ f.nb|intcomma }}
                </td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="3" class="py-6 text-center text-gray-500 dark:text-gray-400 text-lg">
                    Aucun fournisseur
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>