{% load humanize %}
<h2 class="label font-bold mb-2">Bénéfices</h2>
<div class="overflow-x-auto rounded-lg shadow">
    <table class="min-w-full divide-y divide-gray-200 label:divide-gray-700 card">
        <thead class="btn-main">
            <tr>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Produit</th>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Bénéfice total</th>
            </tr>
        </thead>
        <tbody class="label divide-y divide-gray-200 label:divide-gray-700">
            {% for p in lignes_ventes %}
            <tr class="hover:label transition">
                <td class="px-4 py-3 label">{{ p.produit.nom }}</td>
                <td class="px-4 py-3 label">{{ p.benefice|floatformat:2|intcomma }} {{ p.vente.magasin.devise }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="py-6 text-center text-gray-500 dark:text-gray-400 text-lg">Aucune vente</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>