{% load humanize %}

<h2 class="label font-bold mb-2">Clients fidèles</h2>

<div class="overflow-x-auto rounded-lg shadow">
    <table class="min-w-full divide-y divide-gray-200 card">
        <thead class="btn-main">
            <tr>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase">Client</th>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase">Nombre d’achats</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
            {% for client in clients_fideles %}
            <tr>
                <td class="px-4 py-3 label">{{ client.client_nom }}</td>
                <td class="px-4 py-3 label">{{ client.nb_achats|intcomma }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="text-center py-6 text-gray-500">
                    Aucun client trouvé
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>