{% load humanize %}

<h2 class="label font-bold mb-2">Délai moyen de livraison par fournisseur</h2>

<div class="overflow-x-auto rounded-lg shadow">
    <table class="min-w-full divide-y divide-gray-200 label:divide-gray-700 card">

        <thead class="btn-main">
            <tr>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase">Fournisseur</th>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase">Délai moyen</th>
            </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
            {% for item in delai_livraison_fournisseur %}
            <tr>
                <td class="px-4 py-3">{{ item.fournisseur__nom }} {{ item.fournisseur__prenom }}</td>
                <td class="px-4 py-3">{{ item.delai_moyen }}</td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="2" class="text-center py-6 text-gray-500">
                    Aucun résultat
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>