{% load humanize %}

<h2 class="label font-bold mb-2">Produits vendus</h2>

<div class="overflow-x-auto rounded-lg shadow">
<table class="min-w-full divide-y divide-gray-200 label:divide-gray-700 card">

<thead class="btn-main">
<tr>
<th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Produit</th>
<th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Prix vente</th>
<th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Quantité vendue</th>
<th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Montant</th>
</tr>
</thead>

<tbody class="label divide-y divide-gray-200 label:divide-gray-700">

{% for produit in produits_vendus %}
<tr class="hover:label transition">

<td class="px-4 py-3 label">
{{ produit.produit__nom }}
</td>

<td class="px-4 py-3 label">
{{ produit.produit__prix_vente|floatformat:2|intcomma }} {{ magasin.devise }}
</td>

<td class="px-4 py-3 label">
{{ produit.quantite_totale|intcomma }}
</td>

<td class="px-4 py-3 label font-semibold">
{{ produit.total_ventes|floatformat:2|intcomma }} {{ magasin.devise }}
</td>

</tr>

{% empty %}

<tr>
<td colspan="4" class="py-6 text-center text-gray-500 dark:text-gray-400 text-lg">
Aucun produit vendu
</td>
</tr>

{% endfor %}

</tbody>

<tfoot class="btn-main font-bold">

<tr>

<td colspan="3" class="px-4 py-3 text-right">
TOTAL
</td>

<td class="px-4 py-3">
{{ total_jour|floatformat:2|intcomma }} {{ magasin.devise }}
</td>

</tr>

</tfoot>

</table>
</div>