{% load humanize %}
<h2 class="label font-bold mb-2">Ventes annulées</h2>
<div class="overflow-x-auto rounded-lg shadow">
    <table class="min-w-full divide-y divide-gray-200 label:divide-gray-700 card">
        <thead class="btn-main">
            <tr>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Facture</th>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Montant</th>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Caissier</th>
                <th class="px-4 py-3 text-left text-xs font-semibold uppercase tracking-wider">Date</th>
            </tr>
        </thead>
        <tbody class="label divide-y divide-gray-200 label:divide-gray-700">
            {% for v in ventes_annulees %}
<tr class="hover:label transition">
    <td class="px-4 py-3 label">{{ v.numero_facture }}</td>
    <td class="px-4 py-3 label">{{ v.montant_total|floatformat:2|intcomma }} {{ v.magasin.devise }}</td>
    <td class="px-4 py-3 label">{{ v.cree_par.username }}</td>
    <td class="px-4 py-3 label">{{ v.date_creation|date:"d/m/Y H:i" }}</td>
</tr>
{% empty %}
<tr>
    <td colspan="4" class="py-6 text-center text-gray-500 dark:text-gray-400 text-lg">
        Aucune vente annulée
    </td>
</tr>
{% endfor %}
        </tbody>
    </table>
</div>